.featured {
  height: 100vh;
}
.featured--vertical {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}
.featured--horizontal {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #111, transparent);
}
